html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
/*
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}*/

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.data-holder {
  background-color: #e8e8e8;
  padding: 2em;
}

h4 {
  margin: 0;
  margin-bottom: 0.75em;
}

.info-section {
  margin-bottom: 1.5em;
}
